/.phpunit.cache
/node_modules
/public/storage
/vendor
.env
.env.testing
.env.production
.phpactor.json
.phpunit.result.cache
npm-debug.log
/.idea
/.vscode
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
